.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 1;
}

.popup h2 {
  text-align: center;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-top: 2vh;
  font-weight: bold;
  color: #333;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  z-index: 1;
}
.popup .close:hover {
  color: #2f88fb;
}
.popup .content {
  max-height: 65%;
  text-align: justify;
  overflow: auto;
  margin: 2vh 4vh 2vh 4vh;
  font-size: 0.8em;
  line-height: normal;
}

.popup .proimage {
  max-height: 65%;
  text-align: center;
  overflow: auto;
  margin: auto;
  display: block;
  max-width: 80%;
  min-width: 40%;
  border-radius:3%;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
